@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0;padding:0;}
body
{
    font-family:'Roboto', sans-serif;
}
img
{
    width: 100%;
    max-width: 100%;
    height: auto;
}
section
{
    height: 700px;
}
h1
{
    font-size: 50px;
}
#Name
{
    color:#ec4c7a;
}
.greetingTitle
{
    font-weight: 300;
    padding-bottom: 5px;
    margin-top: 132px;
}
.half-width
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.topSection
{
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.description
{
    color:dimgray;
}
.button
{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background: linear-gradient(45deg,lightsalmon,tomato);
}
.button:hover
{
    background: linear-gradient(45deg,lightblue,blue);
}
.headerTitle {
    height: 123px;
    width: 515px;
    /* margin-top: 152px; */
}

.description {
    width: 515px;
    height: 59px;
}
.biography
{
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
    padding-top: 120px;
    height: 875px;
}
.D_btn {
    margin-top: 25px;
}
.contrainer {
    height: 700px;
}
.Bioheader
{
    margin-top:100px;
}
.worktitle
{
    font-weight: 300;
    text-align:center;
}
img.wrokImg {
    width: 25%;
    padding: 4%;
}
.work {
    background-image: url(image/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.commentHeader{
    text-align:center;
    padding: 50px;
}
.foundretalk{
    text-align:center;
    padding: 10px;
    margin-bottom: 60px;
}
.CEO{
    margin-left: 10px;
    color: #908a8a;
}
h3 {
    padding: 15px;
}
.reveiw {
    font-size: 20px;
    color: #675757;
}

.div_reveiw {
    margin-top: 40px;
}

.massageOp {
    margin: auto;
    width: 50%;
    padding: 55px;
    text-align: center;
    background: #f7647e;
    border-radius: 10px;
}
h2 {
    margin-top: 16px;
    margin-left: 15px;
    color: white;
}

span.message_title {
    color: white;
    font-size: 15px;
}

section.comment {
    background: url(image/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    text-align: center;
    height: max-content;
    font-size: 15px;
    color: #b1a0a0;
    padding: 16px;
}